.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-container i {
    font-size: 1.5em;
    color: hsl(249, 50%, 60%);
    padding: 10px 0;
    transition: transform 0.2s ease-in-out;
}

.icon-container i:hover {
    transform: scale(1.2);
}