* {
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    height: 100vh;
    position: relative;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, white, mediumpurple) no-repeat center;
}

.home-page {
    margin: auto;
    background: white;
    padding: 64px;
    border-radius: 32px;
    box-shadow: black 2px 2px 2px;
}

header {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

header p {
    margin: auto;
    flex-grow: 1;
}

.nav-item {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: font-size 0.3s;
}

.nav-item:hover {
    font-size: larger;
}

.nav-item:hover > a {
    color: hsl(249, 50%, 60%);
}

.nav-item a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.info-container {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    padding: 10% 0;
}

.info-container p {
    max-width: 500px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-container i {
    margin: 10px 16px;
    color: hsl(249, 50%, 50%);
    font-size: 150%;
    transition: font-size 0.3s;
}

.icon-container i:hover {
    cursor: pointer;
    color: hsl(249, 50%, 50%);
    font-size: 200%;
}

.personal-info-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.personal-info-box .hi-text {
    font-size: 200%;
    font-weight: bold;
}

.personal-info-box .profession-text {
    padding-top: 10px;
    font-size: 100%;
    font-weight: bold;
    color: rgba(100, 94, 94, 0.91);
}

.personal-info-box .description-text {
    padding-top: 10px;
    max-width: fit-content;
    color: rgba(100, 94, 94, 0.91);
}

.profile-pic-box {
    flex-grow: 1;
}

.profile-pic-box img {
    width: 170px;
    height: 250px;
    border-radius: 24px;
}

.contact-button {
    width: fit-content;
    margin-top: 30px;
    background-color: hsl(249, 50%, 60%);
    font-size: 80%;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.contact-button:hover {
    cursor: pointer;
    background-color: hsl(249, 50%, 50%);
}

.contact-button i {
    margin-left: 10px;
}

.contact-button a {
    text-decoration: none;
    color: white;
}