body {
    background: linear-gradient(to bottom, white, hsl(249, 50%, 60%));
    background-clip: content-box;
}

#root {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Poppins, Helvetica, sans-serif;
}

.app {
    width: 80%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5%;
    border-radius: 16px;
    box-shadow: 2px 2px 2px black;
}

.info-container {
    display: flex;
    align-items: center;
}

.profile-pic-box {
    width: 500px;
}

.profile-pic-box img {
    width: 100%;
    height: auto;
}

.personal-info-box {
    padding-left: 24px;
}

.text {
    margin: 0;
}

.hi-text {
    font-size: 1.5em;
    font-weight: bold;
}

.profession-text {
    font-size: 1.2em;
    color: hsl(0, 3%, 42%);
    font-weight: bold;
}

.contact-button {
    border: none;
    background-color: hsl(249, 50%, 60%);
    border-radius: 1em;
    margin-top: 1em;
}

.contact-button a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
}

.contact-button i {
    margin-left: 1em;
}

